{% extends 'backend/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

             
               <div class="container-fluid card pt-1 col-11">
        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-1 pb-1">
            <h1 class="h1">L B A</h1>
        </div>

        <div class="table-responsive mb-3 text-center">
           
        </div>
        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-2 pb-1">
            <h3 class="h3">Liste des Besoins Alimentaires</h3></br>
            
        </div>
        <div class="table-responsive text-center">
            <p class="p">Application développée par des étudiants de l’école</br>
               d’ingénieur 3IL de Limoges pour le compte</br> de La Banque Alimentaire</br>
               de la Haute Vienne</br></br>
               Cette application permet aux associations</br> partenaires de 
               la BA87 de transmettre la liste des</br> besoins alimentaires de leurs bénéficiaires</br></br>
               N’hésitez pas à nous faire part de vos remarques</br>
               <a href="mailto:ba870.commande@banquealimentaire.org?">ba870.commande@banquealimentaire.org</a></p>
        </div>
    </div>
             

{% endblock %}